/* Font Import */
@font-face {
    font-family: InterExtraBold;
    src: url(../assets/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(../assets/Inter-Bold.ttf);
}

@font-face {
    font-family: InterReg;
    src: url(../assets/Inter-Regular.ttf);
}

@font-face {
    font-family: InterMed;
    src: url(../assets/Inter-Medium.ttf);
}
/* Font Import */

* {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav img {
    padding-bottom: 2px;
    width: 40px;
    height: 40px;
    float: left !important;
}

nav {
    height: 70px;
    display: flex;
    background-color: #1E1F1F;
    padding: 0 4vw;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.left-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    padding-left: 20px;
}

nav h1 {
    font-family: InterBold;
    font-size: 17px;
    color: whitesmoke;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-top: 3px;
    list-style: none;
}

nav ul li a {
    /* letter-spacing: 0px; */
    font-family: InterReg;
    margin-right: 15px;

    font-size: 15px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: whitesmoke;
    transition: 0.15s ease-in-out;
}

nav ul a:hover {
    border-bottom: 2px solid #4df3e8;
    transition: 0.15s ease-in-out;
}

.active {
    color: #4df3e8;
    border-bottom: 2px solid #4df3e8;
    width: 100%;
}

.container3 {
    max-width: 20%;
    display: flex;
    float: right;
    margin-right: 0px;

}

.container3 img {
    width: 25px;
    height: 25px;
    padding: 10px;
}
/* End Navbar */

.content-body {
    background-image: linear-gradient(to bottom left, #1E1F1F 10%, #38B0D6 100%);
    min-height: 528px;
}



.foto {
    /* border: solid red; */
    width: 50%;
    height: 100%;
}

.foto img {
    /* border: red solid; */
    width: 600px;
    height: 528px;
    object-fit: contain;  
    float: right;

}

.container {
    display: flex;

    align-items: center;

    height: 490px;
    max-width: 100%;
    max-height: 100%;
    padding-right: 70px;
}

.content {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 60%;
    padding: 20px;
    margin-top: -20px;
}

.highlight {
    color: #5ecfca;
}

.content h1{
    font-family: InterExtraBold;
    font-size: 40px;
    color: #4df3e8;
    width: 300px;
}

.content h4 {
    font-family: InterReg;
    font-size: 20px;
    color: whitesmoke;
    padding-top: 20px;
}

.exp-title {
    padding: 2rem;
    font-family: InterBold;
    text-align: center;
    /* writing-mode: sideways-lr; */
}

/* Tabs */
.exp-body{
    background: var(--blue);
    display: flex;
    justify-content: center;
    min-height: 100pxh;
    font-family: InterMed;
    padding-bottom: 70px;
}
.container-exp {
    padding: 1.5rem 0;
    max-width: 1000px;
    height: 600px;
    width: 100%;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0,0,0, .1);
}
.indicator-exp {
    width: 25%;
    color: gray;
}
.wrap-exp {
    display: flex;
}

.indicator-exp li {
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    padding: 10px 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--black);
    border-bottom: solid 3px transparent;
}

.indicator-exp li:hover {
    background: #f8f8f8;
    transition: 0.15s ease-in;
}

.indicator-exp li.active-exp {
    border-left: solid #5ecfca ;
    color: #5ecfca;
    
}

.content-exp {
    padding: 0 0 2rem 2rem;
    width: 70%;
}

.content-exp li {
    list-style-type: none;
    display: none;
}
.content-exp li.active-exp {
    display: block;
    transition: 1s ease-in-out;
}

.content-exp h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    padding-top: 15px;
}

.detail-exp {
    padding: 0 0.7rem;
    border-left: 2px solid #5ecfca;
}

.detail-exp p {
    padding: 0.4rem;
    color: rgb(90, 90, 90);
}
/* Tabs */

/* Start Project */
.project-body{
    box-sizing: border-box;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2e3131;
}
.project-container{
    padding: 50px;
    max-width: 1100px;
    min-height: 700px ;
    display: flex;

}

.project-content{
    padding: 10px 20px;
}

.project-title{
    color: whitesmoke;
    font-family: InterBold;
}

.project-content p {
    color: whitesmoke;
    font-family: InterMed;
    padding: 10px 20px 5px 2px;
    max-width: 270px;
}
.card-wrapper {
    padding-top: 50px;
    max-height: 100%;
    max-width: 75%;
    height: 100%;
}

.card-container {
    margin-top: 30px;
    position: relative;
    gap: 15px;
    height: 605px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.card {
    width: 259px;
    background: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 24px rgba(42, 211, 253, 0.2);
    transition: 1s;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px -10px rgb(141, 200, 255) ;
    transition: all 0.2s ease-in-out;
}

.card {
    max-height: 330px;
}

.card a{
    text-decoration: none;
    color: black;
}

.card .image-box {
    height: 200px;
    border-top: 10px;
    display: flex;
    align-items: center;
}


.card .image-box img {
    height: 100%;
    max-width:100%;
    object-fit:cover;
    border-radius: 8px 8px 0px 0px;
}


.card-details {
    column-gap: 12px;
    padding: 20px;
}

.card-details h3 {
    font-size: 20px;
    font-family: InterBold;
    padding: 5px 0;
}

.card-details p {
    font-size: 15px;
    font-family: InterReg;
}

.card .languages {
    display: inline-flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0 0 0;
    font-size: 15px;
    font-family: InterMed;
}
/* End Project */


/* Footer */

footer {
    bottom: 0;
    border: solid white;
    background: rgb(255, 0, 0);
    width: 200px;
    height: 4000px;
}
